@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(to bottom right, #FFE4E1, #FF69B4);
font-family: 'Inter', sans-serif;
  color: black;
}
.recharts-pie-label-text {
  fill: #4C1A57 !important;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 600;
}

